@font-face {
  font-family: "Burbank Small Black";
  src: url("../../fonts/BurbankSmall-Black.otf");
}

#bitmap {
  
  border: 50px solid;
  border-image: linear-gradient(rgb(0, 225, 255),rgb(145, 86, 255)) 10;

}
