

@font-face{
  font-family: "Burbank Big Rg Bk";
  src: url("../../fonts/BurbankBigRegularBlack.otf") format("truetype");
}



.gun{
  text-align :center;
}

.bg{
  /* Fixe l'image en haut à gauche de la page */
  position: absolute;
  top: 60px;
  left: 0;
  /* Préserve le ratio de l'image */
  min-width: 100%;
  min-height: 100%;
  background-image: url(src/img/background.png);
  font-family: "Burbank Small Black";
  color: white;
  font-style: italic;
}

.btn {
  position: fixed;
  right: 20px;
  bottom: 20px;
  cursor: pointer;
}
.icone {
  width: 50px;
}
