@font-face {
  font-family: "Burbank Small Black";
  src: url("../../fonts/BurbankSmall-Black.otf");
}

.lists {
  list-style-type:none;
}
.bg{
   /* Fixe l'image en haut à gauche de la page */
   position: absolute;
   top: 60px;
   left: 0;
   /* Préserve le ratio de l'image */
   min-width: 100%;
   min-height: 100%;
   background-image: url(src/img/background.png);
   padding-top: 10px;
   /*Police*/
   font-family: "Burbank Small Black";

   color: white;
}
button {
  margin: 2px;
}

#searchbox {
width: 1000px;
}
#searchbox input {
outline: none;
}
input:focus::-webkit-input-placeholder {
color: transparent;
}
input:focus:-moz-placeholder {
color: transparent;
}
input:focus::-moz-placeholder {
color: transparent;
}
#searchbox input[type= "text"] {
background: url(http://2.bp.blogspot.com/-xpzxYc77ack/VDpdOE5tzMI/AAAAAAAAAeQ/TyXhIfEIUy4/s1600/search-dark.png) no-repeat 10px 13px #f2f2f2;
border: 2px solid #f2f2f2;
font: bold 12px Arial,Helvetica,Sans-serif;
color: #6A6F75;
width: 200px;
padding: 14px 20px 12px 30px;
-webkit-border-radius: 5px 0px 0px 5px;
-moz-border-radius: 5px 0px 0px 5px;
border-radius: 5px 0px 0px 5px;
text-shadow: 0 2px 3px #fff;
-webkit-transition: all 0.7s ease 0s;
-moz-transition: all 0.7s ease 0s;
-o-transition: all 0.7s ease 0s;
transition: all 0.7s ease 0s;
}
#searchbox input[type= "text"]:focus {
background: #dadada;
border: 2px solid #f7f7f7;
width: 200px;
padding-left: 10px;

}

#button-submit{
background: url(http://4.bp.blogspot.com/-slkXXLUcxqg/VEQI-sJKfZI/AAAAAAAAAlA/9UtEyStfDHw/s1600/slider-arrow-right.png) no-repeat;
margin-left: -40px;
border-width: 0px;
width: 43px;
height: 45px;
}
.rectangle {

  border-radius: 25px;
  background: #52dafc;
  padding: 10px;
  width: 1000px;
  height: 150px;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1px;
  text-align:center;
}
.text-size {
  font-size : 15px;

}
