<app-header></app-header>

<div class="bg">



<div class ="rectangle">
  <h2> Welcome to player's statistics </h2>

<form id= "searchbox" method= "get" action= "/search" autocomplete= "off">
  <input name= "search" [(ngModel)] = "name" type= "text" size= "15" placeholder= "Enter the player's name… "/>

  <input id= "button-submit" type= "submit" (click)="sendData()" (click)="sendApi()" value="" />



</form>
<p style="font-style: italic;">Try "Groanfiel" or "Exode_furaxx" for example and click the button twice</p>

</div>

<br>

<div class ="text-size">
<div *ngIf="responseUserId.result == true">
  <!-- Affichage des stats avec l'api -->
  <h2>La variable est {{name}}</h2>
  <h3>Nom du joueur: {{responseStats.name}}</h3>
  <p>level du joueur: {{responseStats.account.level}}</p>

  <ul>
        <li>Matchs solo</li>
          <ul>
            <li>Eliminations: {{responseStats.global_stats.solo.kills}}</li>
            <li>Top 1: {{ responseStats.global_stats.solo.placetop1 }}</li>
            <li>top 3: {{ responseStats.global_stats.solo.placetop3 }}</li>
            <li>Top 5: {{ responseStats.global_stats.solo.placetop5 }}</li>
            <li>Wins: {{ responseStats.global_stats.solo.placetop1 }}</li>
            <li>Match played: {{ responseStats.global_stats.solo.matchesplayed }}</li>
            <li>minutes played: {{ responseStats.global_stats.solo.minutesplayed }}</li>
            <li>Days played: {{ daysPlayedSolo }}</li>
          </ul>
          <br>
        <li>Matchs duo</li>
          <ul>
            <li>Eliminations: {{responseStats.global_stats.duo.kills}}</li>
            <li>Top1: {{ responseStats.global_stats.duo.placetop1 }}</li>
            <li>Top3: {{ responseStats.global_stats.duo.placetop3 }}</li>
            <li>Top5: {{ responseStats.global_stats.duo.placetop5 }}</li>
            <li>Wins: {{ responseStats.global_stats.duo.placetop1 }}</li>
            <li>Match played: {{ responseStats.global_stats.duo.matchesplayed }}</li>
            <li>Minutes played: {{ responseStats.global_stats.duo.minutesplayed }}</li>
            <li>Days played: {{ daysPlayedDuo }}</li>
          </ul>
          <br>
        <li>Matchs squad</li>
        <ul>
          <li>Eliminations: {{responseStats.global_stats.squad.kills}}</li>
          <li>Top1: {{ responseStats.global_stats.squad.placetop1 }}</li>
          <li>Top3: {{ responseStats.global_stats.squad.placetop3 }}</li>
          <li>Top5: {{ responseStats.global_stats.squad.placetop5 }}</li>
          <li>Wins: {{ responseStats.global_stats.squad.placetop1 }}</li>
          <li>Match played: {{ responseStats.global_stats.squad.matchesplayed }}</li>
          <li>Minutes played: {{ responseStats.global_stats.squad.minutesplayed }}</li>
          <li>Days played: {{ daysPlayedSquad }}</li>
        </ul>
        <br>
        All days played: {{ allDaysPlayed }} jours.
  </ul>

</div>
<div *ngIf="responseUserId.result == false">
  <h2>Player not found...</h2>
</div>
</div>


